header {
  display: inline-flex;
  width: 90%;
  margin: 40px 20px 40px 20px;
  background-color: antiquewhite;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 10px 10px 10px #333;
  position: relative; }

header nav {
  display: inline-block;
  position: absolute;
  background-color: #ff6a00; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #31160e; }
