@mixin reset {
    margin: 0;
    padding: 0;
}
@mixin header {
    display: inline-flex;
    width: 90%;
    margin: 40px 20px 40px 20px;
    background-color: antiquewhite;
    justify-content: space-between;
    border-radius: $bordeRedondo;
    box-shadow: $sombraBox
}


